/* Master Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  color: inherit;
  list-style: none;
  text-decoration: none !important;
}

:root {
  --primary-color: rgb(20, 117, 197);
  --secondary-color: rgb(3, 136, 3);
  --ash-01-color: rgb(92, 91, 91);
  --ash-02-color: rgb(163, 161, 161);
  --ash-03-color: rgb(231, 230, 230);
}

body {
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Utilites */
.main-container {
  position: relative;
}

.con-card {
  border-radius: .5rem;
  width: 100%;
}

.primary-btn {
  font-weight: 500;
  font-size: .8rem;
  color: var(--primary-color);
}

img {
  width: 100%;
  height: 100%;
}

.shadow {
  box-shadow: 0 .3rem .8rem rgba(0, 0, 0, 0.084)!important;
}

.rounded {
  border-radius: .8rem!important;
}

.nav-tabs {
  border: 0;
}

.tab-content {
  background: #fff;
}

.nav-tabs .nav-link {
  background: var(--primary-color);
  color: #fff;
  font-size: .8rem;
  margin: 0 8px;
  width: 140px;
  border-radius: .8rem .8rem 0 0 !important;
}

.nav-tabs .nav-link.active {
  border-color: transparent;
  font-weight: 500;
  box-shadow: 0 .1rem 1.2rem rgba(0, 0, 0, 0.084)!important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: unset;
  margin-bottom: 12px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 0px 4px;
}