/* Media Queries */


/* 987px and below */
@media (max-width: 987px){

  /* --------CONTENT------- */
  .con-content {
    margin: 70px 0;
  }
}


/* 992px and above */
@media (min-width: 992px){
  
  /* Context */
  .section-a.row {
    margin-top: 80px !important;
  }

  .con-content .content .con-context {
    margin-left: 8.3%;
  }

  .section-a .first-col .con-cards .card .btn:nth-child(2) {
    width: 100%;
    margin-left: 8px;
  }

  /* Section A */
  
  /* Second Column */
  .section-a .second-col .con-rows {
    margin: 0 10px;
  }

}


/* 1200px and above */
@media (min-width: 1300px){  
  
  /* Second Column */
  .section-a .second-col .con-rows {
    position: fixed;
    width: 26%;
  }
}